<!-- Pagination -->
<div class="row tm-row">
  <div class="tm-prev-next-wrapper">
    <a
      href="#"
      class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20"
      >Prev</a
    >
    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
  </div>
  <div class="tm-paging-wrapper">
    <span class="d-inline-block mr-3">Page</span>
    <nav class="tm-paging-nav d-inline-block">
      <ul>
        <li class="tm-paging-item active">
          <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
        </li>
        <li class="tm-paging-item">
          <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
        </li>
        <li class="tm-paging-item">
          <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
        </li>
        <li class="tm-paging-item">
          <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
