<!-- Extanding form base template -->
{% extends "index.html" %}
<!-- Loading stastic files -->
{% load static %}
<!-- Page Title -->
{% block title %}ALL Posts{% endblock title %}
<!-- main content of the websit -->
{% block content %}
<!-- Search form -->
{% include 'blog/snippets/search.html' %}

<!-- Posts -->

<div class="row tm-row">
  {% for post in blog %}
  <article class="col-12 col-md-4 tm-post">
    <hr class="tm-hr-primary" />
    <a
      href="{% url 'post_detail' slug=post.slug %} "
      class="effect-lily tm-post-link"
    >
      <div class="tm-post-link-inner">
        <img
          src="{% static 'img/'|add:post.image_name %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <span class="position-absolute tm-new-badge">{{ post.title }}</span>
      <h3 class="tm-color-primary tm-post-title">{{ post.type }}</h3>
    </a>
    <p>{{ post.excerpt }}</p>
    <div class="d-flex justify-content-between">
      <span class="tm-color-primary">{{ post.date }}</span>
      <span class="tm-color-primary">
        -
        <a
          href="mailto:{{ post.author.email_address }}"
          class="tm-color-primary"
        >
          {{ post.author }}
        </a></span
      >
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <span>
        {% for tag in post.tags.all %}
        <a href="{{ tag }}" class="badge badge-primary">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
  </article>
  {% endfor %}
</div>
<!-- Pagination -->
{% include 'blog/snippets//pagination.html' %}
<!-- end content -->
{% endblock content %}
