<!-- Extanding form base template -->
{% extends "index.html" %}
<!-- Loading stastic files -->
{% load static %}
<!-- Page Title -->
{% block title %}ALL Posts{% endblock title %}
<!-- main content of the websit -->
{% block content %}
<!-- Search form -->
<div class="row tm-row">
  <div class="col-12">
    <form method="GET" class="form-inline tm-search-form">
      <input
        class="form-control tm-search-input"
        name="query"
        type="text"
        placeholder="Search..."
        aria-label="Search"
      />
      <button class="tm-search-button" type="submit">
        <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</div>
<!-- Posts -->

<div class="row tm-row">
  {% for post in blog %}
  <article class="col-12 col-md-4 tm-post">
    <hr class="tm-hr-primary" />
    <a href="post.html" class="effect-lily tm-post-link">
      <div class="tm-post-link-inner">
        <img
          src="{% static 'img/'|add:post.image_name %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <span class="position-absolute tm-new-badge">{{ post.title }}</span>
      <h3 class="tm-color-primary tm-post-title">{{ post.type }}</h3>
    </a>
    <p>{{ post.excerpt }}</p>
    <div class="d-flex justify-content-between">
      <span class="tm-color-primary">{{ post.date }}</span>
      <span class="tm-color-primary">- {{ post.author }}</span>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <span>36 comments</span>
    </div>
  </article>
  {% endfor %}
</div>
<!-- Pagination -->
<div class="row tm-row">
  <div class="tm-prev-next-wrapper">
    <a
      href="#"
      class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20"
      >Prev</a
    >
    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
  </div>
  <div class="tm-paging-wrapper">
    <span class="d-inline-block mr-3">Page</span>
    <nav class="tm-paging-nav d-inline-block">
      <ul>
        <li class="tm-paging-item active">
          <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
        </li>
        <li class="tm-paging-item">
          <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
        </li>
        <li class="tm-paging-item">
          <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
        </li>
        <li class="tm-paging-item">
          <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endblock content %}
