<!-- Extanding form base template -->
{% extends "index.html" %}
<!-- Loading stastic files -->
{% load static %}
<!-- Page Title -->
{% block title %}ALL Posts{% endblock title %}
<!-- main content of the websit -->
{% block content %}
<!-- Search form -->
{% include 'blog/snippets/search.html' %}

<!-- Posts -->
<div class="row tm-row">
  <div class="col-12">
    <hr class="tm-hr-primary" />
    <!-- Video player 1422x800 -->
    <img
      src="{% static 'img/'|add:post.image_name %}"
      alt="Image"
      style="width: 100%; margin-bottom: 30px"
    />
  </div>
</div>
<div class="row tm-row">
  <div class="col-lg-8 tm-post-col">
    <div class="tm-post-full">
      <div class="mb-4">
        <h2 class="pt-2 tm-color-primary tm-post-title">{{ post.title }}</h2>
        <p class="tm-mb-40">{{ post.date }} posted by {{ post.author }}</p>
        <p>{{ post.content }}</p>
        <span class="d-block text-right tm-color-primary">
          {% for tag in post.tags.all %}{{ tag.caption }} . {% endfor %}
        </span>
      </div>

      <!-- Comments -->
      <div>
        <h2 class="tm-color-primary tm-post-title">Comments</h2>
        <hr class="tm-hr-primary tm-mb-45" />
        <div class="tm-comment tm-mb-45">
          <figure class="tm-comment-figure">
            <img
              src="img/comment-1.jpg"
              alt="Image"
              class="mb-2 rounded-circle img-thumbnail"
            />
            <figcaption class="tm-color-primary text-center">
              Mark Sonny
            </figcaption>
          </figure>
          <div>
            <p>
              Praesent aliquam ex vel lectus ornare tritique. Nunc et eros quis
              enim feugiat tincidunt et vitae dui. Nullam consectetur justo ac
              ex laoreet rhoncus. Nunc id leo pretium, faucibus sapien vel,
              euismod turpis.
            </p>
            <div class="d-flex justify-content-between">
              <a href="#" class="tm-color-primary">REPLY</a>
              <span class="tm-color-primary">June 14, 2020</span>
            </div>
          </div>
        </div>
        <div class="tm-comment-reply tm-mb-45">
          <hr />
          <div class="tm-comment">
            <figure class="tm-comment-figure">
              <img
                src="img/comment-2.jpg"
                alt="Image"
                class="mb-2 rounded-circle img-thumbnail"
              />
              <figcaption class="tm-color-primary text-center">
                Jewel Soft
              </figcaption>
            </figure>
            <p>
              Nunc et eros quis enim feugiat tincidunt et vitae dui. Nullam
              consectetur justo ac ex laoreet rhoncus. Nunc id leo pretium,
              faucibus sapien vel, euismod turpis.
            </p>
          </div>
          <span class="d-block text-right tm-color-primary">June 21, 2020</span>
        </div>
        <form action="" class="mb-5 tm-comment-form">
          <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
          <div class="mb-4">
            <input class="form-control" name="name" type="text" />
          </div>
          <div class="mb-4">
            <input class="form-control" name="email" type="text" />
          </div>
          <div class="mb-4">
            <textarea class="form-control" name="message" rows="6"></textarea>
          </div>
          <div class="text-right">
            <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <aside class="col-lg-4 tm-aside-col">
    <div class="tm-post-sidebar">
      <hr class="mb-3 tm-hr-primary" />
      <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
      <ul class="tm-mb-75 pl-5 tm-category-list">
        {% for tag in post.tags.all %}
        <li>
          <a href="/{{ tag.caption }}" class="tm-color-primary">
            {{ tag.caption }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <hr class="mb-3 tm-hr-primary" />
      <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
      <a href="#" class="d-block tm-mb-40">
        <figure>
          <img src="img/img-02.jpg" alt="Image" class="mb-3 img-fluid" />
          <figcaption class="tm-color-primary">
            Duis mollis diam nec ex viverra scelerisque a sit
          </figcaption>
        </figure>
      </a>
      <a href="#" class="d-block tm-mb-40">
        <figure>
          <img src="img/img-05.jpg" alt="Image" class="mb-3 img-fluid" />
          <figcaption class="tm-color-primary">
            Integer quis lectus eget justo ullamcorper ullamcorper
          </figcaption>
        </figure>
      </a>
      <a href="#" class="d-block tm-mb-40">
        <figure>
          <img src="img/img-06.jpg" alt="Image" class="mb-3 img-fluid" />
          <figcaption class="tm-color-primary">
            Nam lobortis nunc sed faucibus commodo
          </figcaption>
        </figure>
      </a>
    </div>
  </aside>
</div>
{% endblock content %}
